body {
    background-color: #181846;
    color: white;
    font-family: "Inconsolata", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    font-size: 25px;
}

button {
    background-color: #627bb1;
    color: rgb(9, 11, 94);
    font-family: "Inconsolata", monospace;
    font-size: 25px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 50%;
}